@import "bootstrap-custom";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");

a {
  //color: inherit;
  cursor: pointer;
}

a, a:active, a:focus, a:hover {
  outline: 0;
}

.link {
  //text-decoration: none;
  //color: inherit;
  //border-bottom: dotted 1px;
  //cursor: pointer;
}

html, body, #mainWrapper {
  min-height: 100%;
}

.row-table {
  display: table;
  width: 100%;
  margin-left: -15px;
  margin-right: -15px;
}

.col-table {
  display: table-cell;
  vertical-align: top;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar {
  border: none;
  //color: #ccc;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3);
  border-top: 2px solid $navbar-default-link-active-bg;


  .navbar-brand, ul.navbar-nav > li > a {
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
  }

  ul.navbar-nav > li > a {
    font-size: 14px;
    letter-spacing: .25px;
  }

  .navbar-brand {
    font-size: 1em;
    letter-spacing: .5px;
  }

  ul.navbar-nav > li > a {
    padding-left: 17px;
    padding-right: 17px;
    //color: #ccc;
  }
}

@media (max-device-width: 768px) {

  .navbar .container {
    width: 100%;
  }

}

.well {
  color: $well-color;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .15);
}

.form-control {
  font-size: 1em;
  font-weight: normal;

  &, &:focus {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  }
}

.input-group .input-group-addon {
  font-variant: small-caps;
}

.btn {
  font-family: inherit;
  font-size: 1em;
  font-weight: 600;
  white-space: nowrap;
  text-align: center;
  text-transform: uppercase;
  text-overflow: ellipsis;
  outline: transparent solid !important;
}

.btn-default {

  &:hover, &:focus, &:active, &:focus:active {
    background: $btn-default-hover-bg;
    //background-color: #e1e1e1;
    border-color: $btn-default-border;
  }

  &, &:hover, &:focus, &:active, &:focus:active {
    border-bottom-color: #aaa;
  }
}

.btn-primary {
  background: $btn-primary-bgln;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);

  &:hover, &:focus, &:active, &:focus:active {
    background: $btn-primary-hover-bg;
    //background-color: #a3c400;
    border-color: $btn-primary-border;
  }

  &, &:hover, &:focus, &:active, &:focus:active {
    //border-bottom-color: #8a8a8a;
    border-bottom-color: darken($btn-primary-border, 5%);
  }
}

#main {
  min-height: 100%;
  padding-top: $navbar-height + $navbar-margin-bottom;
  background: linear-gradient(to bottom, rgba($body-bg, .7) 0, $body-bg);
}

.thumbnail {
  border: none;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .15);
}

#logo-lc {
  background: #E10914;

  img {
    height: 14px;
    width: auto;
  }

  &:hover {
    opacity: .9;
  }
}

#main-footer {

  a {
    color: inherit;
  }

  .top-footer {
    padding-top: 5px;
    padding-bottom: 20px;
    background: #262626;
    color: #909090;

    a {
      text-transform: uppercase;
      font-size: .9em;
    }
  }

  .title {
    margin-top: 0;
    font-size: .8125em;
    line-height: 1.875em;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ccc;
    text-transform: uppercase;
  }

  .content {
    color: #818181;
    font-size: .75em;
    line-height: 23px;

    > *:not(:first-child) {
      border-left: 1px solid currentColor;
    }
  }

  .bottom-footer {
    background: #1d1d1d;
    font-size: .6875em;
    color: #595959;
    text-align: justify;
    padding-top: 15px;
    padding-bottom: 15px;

    ul {
      margin-bottom: 0;
    }

    .copyright {
      color: #595959;
    }
  }

}

#accesrap {
  min-width: 250px;
}